body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(0deg, #00a3ee, #00dffc80);
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  padding: 2em;
  padding-top: 4rem;
  /* height: 100vh; */
}
.app-chrome {
  border-radius: 17px;
  background: linear-gradient(45deg, #222, #333);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-shadow: -10px 10px 1em #00000099;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
  top: 0;
  left: 0;
}

.fullscreen {
  position: fixed;
  z-index: 2;
  top: 4em;
  width: clamp(320px, 80%, 1920);
  margin: auto;
  left: 2em;
  right: 2em;
}
.fullscreen::before {
  content: " ";
  background-color: #000a;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

.app-bar {
  padding: clamp(0.01em, 1vw, 5em);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.traffic-light {
  height: 0.75em;
  width: 0.75em;
  border-radius: 100%;
  border: none;
  margin-left: 0.5em;
}

.traffic-light.red {
  background-color: #ff6159;
}

.traffic-light.yellow {
  background-color: #ffbd2e;
}

.traffic-light.green {
  background-color: #28c941;
  cursor: pointer;
}

.app-body {
  padding: 0.75em;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: flex-end; */
  /* flex: 1 1 30vh; */
  height: 40vh;
  overflow: scroll;
}

.app-text {
  color: #fff;
  font-size: clamp(11px, 2vw, 15px);
  font-family: monospace;
}

.app-text.input {
  background: transparent;
  border: none;
  padding: 0;
  flex: 1;
  outline: none;
  resize: none;
  height: 1rem;
}

a.app-text.input {
  font-size: 1em;
  padding: 0;
  color: #0090ff;
}

.app-text.input:focus {
  background-color: #ffffff20;
}

.theme-blue {
  color: #00dffc;
}

.projects-container {
  overflow-x: scroll;
  width: 100vw;
}

.vb-hidden {
  visibility: hidden;
}

.window-title {
  font-size: clamp(13px, 2vw, 15px);
  font-family: monospace;
}

.link-wrap {
  cursor: pointer;
}

.app-chrome:hover {
  transform: scale(1.05);
}

.app-chrome.no-hover:hover {
  transform: none;
}
